.burger {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  right: 10px;
  top: 20px;
  span {
    width: 26px;
    height: 3px;
    background-color: #000;
  }
}

@media screen and (min-width: 300px) {
  .burger {
    top: 22px;
  }
}

@media screen and (min-width: 360px) {
  .burger {
    right: 20px;
  }
}

@media screen and (min-width: 768px) {
  .burger {
    right: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .burger {
    display: none;
  }
}
