@use "../../style/variables" as *;

.header {
  position: fixed;
  width: 100vw;
  background-color: $dark-red;
  padding: 15px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
  &__title {
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    color: $orange;
  }
}

@media screen and (min-width: 300px) {
  .header {
    &__title {
      font-size: 24px;
    }
  }
}
