@use "../style/variables" as *;
@use "../style/mixins" as *;

.charlist {
  margin: 25px auto 0 auto;
  width: fit-content;
  order: 1;
  &__cards {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }
  &__btn {
    margin: 25px auto 0 auto;
    @include btn;
  }
  &__card {
    width: 200px;
    background-color: $dark-red;
    padding: 15px 10px 15px 10px;
    border-radius: 5px;
    &-img {
      margin: 0 auto;
      width: 100%;
      height: 225px;
      object-fit: cover;
    }
    &-name {
      margin-top: 20px;
      color: $orange;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
    }
    &-logo {
      margin: 20px auto 0 auto;
      width: 50px;
    }
  }
}

@media screen and (min-width: 320px) {
  .charlist {
    &__card {
      width: 230px;
    }
  }
}

@media screen and (min-width: 375px) {
  .charlist {
    &__cards {
      row-gap: 25px;
    }
    &__card {
      width: 250px;
    }
  }
}

@media screen and (min-width: 425px) {
  .charlist {
    &__cards {
      flex-direction: row;
      width: 400px;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    &__card {
      width: 180px;
    }
  }
}

@media screen and (min-width: 568px) {
  .charlist {
    &__cards {
      width: 450px;
    }
    &__card {
      width: 200px;
    }
  }
}

@media screen and (min-width: 768px) {
  .charlist {
    &__cards {
      width: 680px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .charlist {
    margin-top: 0;
    &__cards {
      width: 640px;
      justify-content: start;
      column-gap: 20px;
    }
    &__card {
      width: 180px;
    }
  }
}
